body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 32px;
}
#Rollit {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 25px;
  border-radius: 12px;
  border: 1px;
  background-color: black;
  color: white;
}
#Rollit:active {
  background-color: rgb(105, 105, 105);
  transform: scale(0.98);
}
#Rollit:hover {
  background-color: rgb(105, 105, 105);
}
